/* A B C D E F G H I J K L M N O P Q R S T U V W X Y Z  */
.card
{
    background-color: azure;
    border-radius: 20px;
    box-sizing: border-box;
    color: rgb(21, 24, 24);
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    width: 500px;
}

.c_body{

}

.c_head{
        
}

.c_html {
    
}
._plain-text{
    
}

.c_tittle{

}